---
layout: base
title: 中国科学技术大学 Linux 用户协会
---

{% if paginator.page == 1 %}
 <p>此网站留作存档，最新的 USTC LUG 新闻请移步至 <a href="https://lug.ustc.edu.cn/news/">https://lug.ustc.edu.cn/news/</a>。</p>
 <section id="top">
  <a href="{{ site.posts[0].url }}" style="background-image: url('{{ site.posts[0].image | relative_url }}')">
   <p>
    <span class="small">最新动态</span>
    <span>{{ site.posts[0].title }}</span>
   </p>
  </a>
 </section>
 <nav>
  <section class="nav-small">
   <a href="https://mirrors.ustc.edu.cn/"><i class="fa fa-linux fa-5x" aria-hidden="true"></i><span>开源镜像站</span></a>
   <a href="https://git.lug.ustc.edu.cn/"><i class="fa fa-gitlab fa-5x" aria-hidden="true"></i><span>GitLab</span></a>
   <a href="https://library.ustclug.org/"><i class="fa fa-book fa-5x" aria-hidden="true"></i><span>LUG书库</span></a>
   <a href="https://lug.ustc.edu.cn/wiki/lug/services/start"><i class="fa fa-chevron-circle-right fa-5x" aria-hidden="true"></i><span>更多服务</span></a>
  </section>
  <section class="nav-large">
   <p>中国科学技术大学 Linux 用户协会是由中国科学技术大学在校的 GNU/Linux 爱好者发起并组成的团体，旨在联合科大的 GNU/Linux 使用者，搭建信息交流共享的平台，宣传自由软件的价值，提高自由软件社区文化氛围，推广自由软件的应用。<a href="https://lug.ustc.edu.cn/wiki/intro">了解更多</a></p>
   <a href="https://lug.ustc.edu.cn/wiki/lug/events/calendar"><i class="fa fa-calendar fa-5x" aria-hidden="true"></i><span>活动日历</span></a>
   <a href="https://lug.ustc.edu.cn/wiki/lug/contact"><i class="fa fa-comments-o fa-5x" aria-hidden="true"></i><span>联系我们</span></a>
   <a href="https://lug.ustc.edu.cn/wiki/lug/finance/donate"><i class="fa fa-thumbs-o-up fa-5x" aria-hidden="true"></i><span>捐赠我们</span></a>
   <a href="https://lug.ustc.edu.cn/wiki/lug/links"><i class="fa fa-link fa-5x" aria-hidden="true"></i><span>友情链接</span></a>
  </section>
  <div class="clear-float"></div>
 </nav>
{% endif %}
<section id="articles">
 {% for post in paginator.posts %}
  <article>
   <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
   <span>{{ post.date | date:'%Y-%m-%d' }}</span>
   <p>{{ post.excerpt | strip_html | truncate: 350 }}</p>
  </article>
 {% endfor %}
</section>
<footer>
 {% if paginator.previous_page %}
  <a href="{{ paginator.previous_page_path }}"><i class="fa fa-chevron-left fa-lg" aria-hidden="true"></i>第 {{ paginator.previous_page }} 页</a>
 {% endif %}
 <span>第 {{ paginator.page }} 页，共 {{ paginator.total_pages }} 页，{{ paginator.total_posts }} 篇文章</span>
 {% if paginator.next_page %}
  <a href="{{ paginator.next_page_path }}">第 {{ paginator.next_page }} 页<i class="fa fa-chevron-right fa-lg" aria-hidden="true"></i></a>
 {% endif %}
</footer>
