<!DOCTYPE html>
<html lang="zh-Hans">
 <head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
  <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate:160 }}{% else %}{{ site.description }}{% endif %}" />
  <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
  <link rel="shortcut icon" href="{{ site.url }}/images/logo.png" />
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.url }}/feed.xml" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="{{ site.url }}/css/normalize.css" />
  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/tables-min.css" />
  <link rel="stylesheet" href="{{ site.url }}/css/style.css" />
 </head>
 <body>
  <header>
   <a href="{{ site.url }}/"><img src="{{ site.url }}/images/logo.png" alt="{{ site.title }}" /><span>中国科学技术大学 Linux 用户协会</span></a>
  </header>
  {{ content }}
 </body>
</html>
