---
layout: base
---
<article>
 <h2>{{ page.title }}</h2>
 <span>{{ page.date | date:'%Y-%m-%d' }}</span>
 <div class="clear-float"></div>
 <div id="post">
  {{ content | replace:'<h4','<h6' | replace:'</h4','</h6' | replace:'<h3','<h5' | replace:'</h3','</h5' | replace:'<h2','<h4' | replace:'</h2','</h4' | replace:'<h1','<h3' | replace:'</h1','</h3' }}
 </div>
</article>
<footer>
 {% if page.previous %}
  <a href="{{ site.url }}{{ page.previous.url }}"><i class="fa fa-chevron-left fa-lg" aria-hidden="true"></i>{{ page.previous.title }}</a>
 {% endif %}
 <span></span>
 {% if page.next %}
  <a href="{{ site.url }}{{ page.next.url }}">{{ page.next.title }}<i class="fa fa-chevron-right fa-lg" aria-hidden="true"></i></a>
 {% endif %}
</footer>
